
svg {
    font: 10px sans-serif;
    display: block;
    margin:auto;
    font-family: Helvetica
  }
  
  
  .background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
  }
  
  .foreground path {
    fill: none;
    stroke: steelblue;
  }
  
  .brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
  }
  
  .axis line,
  .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
  }
  
  .axis :hover{
    font: 20px sans-serif;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .block {
    width: 200px; 
    height: 200px; 
    overflow: auto;
    margin-left: 70px;
  }
  
  .middleRow {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .visu {
    overflow: auto;
    margin-left: 70px;
  }
  .tooltip{
    overflow: auto;
    margin-top: 300px;
  }